[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
databricks-sdk = ">=0.80.0"
pandas = "*"

[dev-packages]
pytest = "*"
pytest-cov = "*"
flake8 = "*"
pep8-naming = "*"
shell = "*"

[requires]
python_version = "3.11"
